/* 吹き出し */
.balloon {
  margin-bottom: 2em;
  position: relative;
}

.balloon:before,.balloon:after {
  clear: both;
  content: "";
  display: block;
}

.balloon figure {
  width: 60px;
  height: 60px;
}

.time_left{
  float: left;   
}

.time_right{
  float: right;
}

.balloon-image-left {
  float: left;
  margin-right: 20px;
}

.balloon-image-right {
  float: right;
  margin-left: 20px;
}

.balloon figure img{
  width: 100%;
  height: 100%;
  border: 1px solid #aaa;
  border-radius: 50%;
  margin: 0;
}

.balloon-image-description {
  padding: 5px 0 0;
  font-size: 10px;
  text-align: center;
}

.balloon-text-right,.balloon-text-left {
  position: relative;
  padding: 10px;
  border: 1px solid;
  border-radius: 10px;
  min-width: 120px;
  max-width: 100%;
  display: inline-block;
}

.balloon-text-right {
  border-color: #aaa;
}

.balloon-text-left {
  background-color: #fec503;
}

.balloon-text-right {
  float: left;
}

.balloon-text-left {
  float: right;
}

.balloon p {
  margin: 0;
  padding: 0;
  width:200px;
}

.balloon p:last-child {
  margin-bottom: 0;
}

/* 三角部分 */
.balloon-text-right:before {
  position: absolute;
  content: '';
  border: 10px solid transparent;
  border-right: 10px solid #aaa;
  top: 15px;
  left: -20px;
}

.balloon-text-right:after {
  position: absolute;
  content: '';
  border: 10px solid transparent;
  border-right: 10px solid #fff;
  top: 15px;
  left: -19px;
}

.balloon-text-left:before {
  position: absolute;
  content: '';
  border: 10px solid transparent;
  border-left: 10px solid #aaa;
  top: 15px;
  right: -20px;
}

.balloon-text-left:after {
  position: absolute;
  content: '';
  border: 10px solid transparent;
  border-left: 10px solid #fec503;
  top: 15px;
  right: -19px;
}