<p><%= @resource.email %>さん</p>

<p>パスワードの変更がリクエストされました. 以下よりパスワードの変更を行って下さい.</p>

<p><%= link_to 'パスワード変更はこちら', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>こちらのメールに覚えがない場合は無視してください。</p>
<p>上記リンクよりパスワード再発行の手続きがなされるまでパスワードは変更されません</p>
